cluster_name = "yuntianming"
region = "ap-southeast-1"
vpc_id = "you-vpic-id"
worker_node_subnet_ids = "az-a-private,az-b-private,az-c-private"
dmz_subnet_ids = "az-a-public,az-b-public,az-c-public"
min_worker_nodes_num = "3"
max_worker_nodes_num = "6"
worker_node_desired_capacity = "3"
image_id = "ami-038d55c26bf01998f"
key_name = "you-ssh-key"
acm_cert_arn="you-acm-ssl-cert-arn"